.content {
    background-image: url(../../assets/bg-sec.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3rem;
  }
  
  .left {
    flex: 1;
    min-width: 300px;
  }
  
  .left h1 {
    font-size: 3rem;
    margin: 0.2rem 0;
  }
  
  .left h2 {
    font-size: 1.5rem;
    color: #555;
  }
  
  .left h4 {
    font-weight: 500;
    margin-top: 1rem;
    color: #333;
  }
  
  .left p {
    color: #666;
    line-height: 1.6;
    margin-top: 1rem;
  }
  
  .buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
  }
  
  .primaryBtn,
  .secondaryBtn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .primaryBtn {
    background-color: #0070f3;
    color: #fff;
  }
  
  .primaryBtn:hover {
    background-color: #005dc1;
  }
  
  .secondaryBtn {
    background-color: #eaeaea;
    color: #333;
  }
  
  .secondaryBtn:hover {
    background-color: #d5d5d5;
  }
  
  .right {
    flex: 1;
    min-width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }

  .right .top{
    padding: 1rem;
    background-color: #2DC67D0F;
  }
  
  .right h2 {
    text-align: center;
    font-size: 1.8rem;
  }
  
  .right h4 {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    margin-top: 0.5rem;
    color: #666;
  }
  
  .form {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .formGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .formGroup > div {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
  }
  .formGroup > div label {
    margin-bottom: 6px;
  }
  
  input,
  textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    font-size: 1rem;
  }

  .hireButton {
    background-color: #FF252F87; /* Deep blue */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  
  .icon {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  
  
  